/* MENU */
.img-menu{
	width: 30%;
}
.menu{
	background: #f7f1e3;
}
.menu-warna a{
	color: #b33939!important;
	font-weight: bold;
	font-size: 20px;
	font-family: Comic Sans MS;
}
/* END MENU */

/* BANNER */
.banner{
	background: #f7f1e3;
}
.banner-img img{
	width: 70%;
}
/* END BANNER */

/* PROFILE */
.profile-img img{
	width: 15%;
}
.profile h3{
	font-family: Comic Sans MS;
	color: #b33939;
}
.profile p{
	font-family: Comic Sans MS;
}
.profile hr{
	border-top: 8px dotted grey;
	width:8%;
	height: 40px;
	margin-top: 40px;
}
/* END PROFILE */

/*FOOTER*/
.footer{
	background: #f7f1e3;
}
.footer p{
	font-family: Comic Sans MS;
	color: #b33939;
}
.footer i{
	font-size: 20px;
	color: #b33939;
}
.footer span{
	font-family: Comic Sans MS;
	color: #f1c40f;
}
/*END FOOTER*/

.slider h4{color: #b33939; font-family: Comic Sans MS;}
.slider img{width: 250px;}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 20px;
    height: 2px;
}

.blog .carousel-indicators .active {
background: #b33939;
}


/* MEDIA */
@media (max-width: 765px) {
.pt-none{padding-top: 0!important}
.banner-img img{width: 90%;}
.profile-img img{width: 40%;}
.profile hr{border-top: 8px dotted grey; width:20%; height: 40px; margin-top: 40px;}
.slide1{margin-right: 0!important; margin-left: 0!important; margin-bottom: 20px!important; margin-top: 20px!important;}
.slider img{width: 50%;}
}

@media (min-width: 766px) and (max-width: 1010px) { 
.slider img{width: 50px;}
}
